
/vendor
/node_modules
.env

### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.idea
public/uploads/

composer.lock
Homestead.yaml
Homestead.json
storage/exports/

public/bower_components/

public/build/

public/css/

public/js/

/public/uploads/
public/home/vagrant/Code/EventManagement/public/uploads/

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
